{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1></h1>
        <p>
Listado de Reborns  
        </p>
    </div>


  <!-- Comentario  <div class="col-4">
        <img src="assets/img/foto1.jpg" class="img-thumbnail">
    </div>--> 


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/img/foto1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Manolito</h5>
      <p class="card-text">Manolito muy chiquitito</p>
      <p class="card-text"><small class="text-muted">14 Junio 2017</small></p>
      <a href="mailto:example@email.com" class="btn btn-primary">Información por Email</a>



    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/foto2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Juanito</h5>
      <p class="card-text">Juanito Reborns hecho a mano 2018</p>
      <p class="card-text"><small class="text-muted">14 sep 2018</small></p>
      <a href="mailto:example@email.com" class="btn btn-primary">Información por Email</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/foto3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Juana</h5>
      <p class="card-text">Juana muy alegre hecho a mano con pinturas naturales</p>
      <p class="card-text"><small class="text-muted">22 Agosto 2018</small></p>
      <a href="mailto:example@email.com" class="btn btn-primary">Información por Email</a>
    </div>
  </div>
</div>



</div>

  



{{> footer }}