{{> head }}



    {{> navbar }}



    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1>
        <p class="lead">Página dedicada a los Reborns</p>
        <hr class="my-4">
        <p>Cuidados especiales</p>
        <p class="lead">
            <a class="btn btn-info btn-lg" href="/about" role="button">Ver mas.....</a>
        </p>
    </div>



{{> footer }}